@import 'styles/variables.scss';
@import 'styles/mixins.scss';

.product-list-item {
  flex: 1;
}

.product-list-item__inner {
  padding: 1rem;
  text-align: center;

  &:hover .product-list-item__image {
    opacity: 1;
  }
}

.product-list-item__title {
  margin: 0;
  margin-bottom: 1rem;
}

.product-list-item__image {
  color: $lightgray-color;
  width: 4rem;
  height: 4rem;
  opacity: 0.6;
}

.product-list-item__actions {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

.product-list-item__quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $green-color;
  color: $white-color;
  width: 3rem;
  height: 3rem;
  border-radius: 1.5rem;

  &.filled {
    background-color: $red-color;
    box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.1);
  }
}
